<% require 'assets/personaldata' %>
<% #puts "Load path is " + $LOAD_PATH.to_s %>
<% provide(:title, PersonalData::TITLE + " " + PersonalData::FIRSTNAME + " " + PersonalData::LASTNAME + ' Curriculum Vitae') %>
    <% sections = Section.order(orderpos: :asc) %>
    <% sections.each do |c| %>
        <div>
        <% if c.title != nil %>
            <h2><%= c.title %></h2>
        <% end %>
        <p>
            <%= c.text.html_safe %>
        </p>
        <!--<% subsections = SectionItem.where(sectionid: c.id) %>-->
        <% subsections = SectionItem.where(sectionid: c.id).order(orderpos: :asc) %>
        <% if subsections != nil %>
            <% subsections.each do |subsection| %>
                <div style="padding-left: 50px">
                <h3><%= subsection.title %></h3>
                <%= subsection.shortdescription %>
                </div>
            <% end %>
        <% end %>
        </div>
    <% end %>