<% provide(:title, 'About Us') %>
<% content_for :head do %>
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css">
    <script src="http://code.jquery.com/jquery-1.9.1.js"></script>
    <script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
    <!--<link rel="stylesheet" href="/resources/demos/style.css">-->

    <style type="text/css">
        .sectionItem
        {
            border: 1px black solid;
            padding: 5px;
            background-color: white;
        }

        .fieldContainer
        {
            width: 150px;
        }

        .divsortable
        {
            border: 1px black solid;
        }

        .description
        {
            width: 400px;
            min-height: 200px;
        }
    </style>

    <script>
//        function simpleItem()
//        {
//            return "<span>Element Being Dragged</span>";
//        }

        $(function() {
            $( "#sortable" ).sortable({
                revert: true
            });

            $( "#draggable" ).draggable({
                connectToSortable: "#sortable",
                helper: "clone",
                revert: "invalid"
            });

            $( ".divsortable ").sortable({
                revert: true
            });

            $( ".divdraggable").sortable({
                placeholder: "ui-state-highlight"
            })

            $( ".divdraggable2").draggable({
                connectToSortable: ".divsortable",
                connectWith: ".divsortable",
                helper: "clone",
                snapMode: 'inner',
                revert: "invalid"
            });

            $ ( ".sectionItem").sortable({
                connectToSortable: ".divsortable",
                placeholder: "ui-state-highlight"
            })

            $ ( ".sectionItem2").draggable({
//                snapMode: 'inner',
                axis: "y",
                connectToSortable: ".divsortable",
                helper: "original"
//                ,
//                start: function( event, ui ) {
//                    console.log("started dragging " + ui);
//                }
//                ,
//                stop: function( event, ui)
//                {
//                    console.log("stopped dragging " + ui);
//                }
            });

            $( "ul, li" ).disableSelection();
        });
    </script>
<% end %>

<div class="jumbotron">
    <h1>About Default Name</h1>
    <p class="lead">Default Name is a dedicated professional, a true hero, and a person of many mysteries.
        He knows what he's talking about, and he talks about it well. That's why they call him 'da man'!</p>
    <!--<p><a class="btn btn-lg btn-success" href="#" role="button">Sign up today</a></p>-->
</div>

<div class="row marketing">
    <div class="col-lg-6">
        <h4>Subheading</h4>
        <p>Donec id elit non mi porta gravida at eget metus. Maecenas faucibus mollis interdum.</p>

        <h4>Subheading</h4>
        <p>Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Cras mattis consectetur purus sit amet fermentum.</p>

        <h4>Subheading</h4>
        <p>Maecenas sed diam eget risus varius blandit sit amet non magna.</p>
    </div>

    <div class="col-lg-6">
        <h4>Subheading</h4>
        <p>Donec id elit non mi porta gravida at eget metus. Maecenas faucibus mollis interdum.</p>

        <h4>Subheading</h4>
        <p>Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Cras mattis consectetur purus sit amet fermentum.</p>

        <h4>Subheading</h4>
        <p>Maecenas sed diam eget risus varius blandit sit amet non magna.</p>
    </div>
</div>


<div>
    <ul>
        <li id="draggable" class="ui-state-highlight">Drag me down</li>
    </ul>

    <ul id="sortable">
        <li class="ui-state-default">Item 1</li>
        <li class="ui-state-default">Item 2</li>
        <li class="ui-state-default">Item 3</li>
        <li class="ui-state-default">Item 4</li>
        <li class="ui-state-default">Item 5</li>
    </ul>

    <div class="divsortable">
        <div class="sectionItem">
            Item goes here A
        </div>
        <div class="sectionItem">
            Item goes here B
        </div>
        <div class="sectionItem">
            <div class="sectionItem">
            <!--<div class="movingSectionItem">-->
                <!--Being moved-->
            <!--</div>-->
            <!--<div class="nonMovingSectionItem">-->

                    <!--<div>-->
                        <!--<label class="fieldContainer">Title</label>-->
                        <input type="text"/>
                    <!--</div>-->
                    <!--<div>-->
                        <!--<label class="fieldContainer">Sidebar</label>-->
                        <!--<input type="text" id="sideInfo"/>-->
                    <!--</div>-->
                    <!--<div>-->
                        <!--<label class="fieldContainer">Short Description</label>-->
                        <!--<textarea class="description" id="shortDescription"></textarea>-->
                    <!--</div>-->
                    <!--<div>-->
                        <!--<label class="fieldContainer">Long Description</label>-->
                        <!--<textarea class="description" id="longDescription"></textarea>-->
                    <!--</div>-->

            <!--</div>-->
            </div>
        </div>
        <div class="sectionItem">
            Item goes here C
        </div>
        <div class="sectionItem">
            Item goes here E<br/>
            Item goes here E<br/>
            Item goes here E<br/>
            Item goes here E<br/>
        </div>
        <div class="sectionItem">
            Item goes here D
        </div>
        <!--<div class="divdraggable">-->
            <!--Second-->
        <!--</div>-->
        <!--<div class="divdraggable">-->
            <!--Third-->
        <!--</div>-->
    </div>
</div>
