<div class="header" id="header">

    <ul class="nav nav-pills pull-right">
        <li class="<%= 'active' if params[:controller] == 'static_pages' and params[:action] == 'home' %>">  <%= link_to "Home",  home_path %></li>
        <li class="<%= 'active' if params[:controller] == 'static_pages' and params[:action] == 'about' %>"> <%= link_to "About", about_path %></li>
        <li><a href="#">Contact</a></li>
    </ul>

    <h3 class="text-muted">eCV Logo Here</h3>
</div>